* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.429rem;
  color: white;
}

h2 {
  font-size: 2.571rem;
  color: #333333;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 1.286rem;
  font-weight: bold;
}

i {
  border: solid #333333;
  border-width: 0 0.086rem 0.086rem 0;
  display: inline-block;
  padding: 0.214rem;
  width: 1.714rem;
  height: 1.714rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-color: white;
  margin-bottom: 2.857rem;
}

p {
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.5);
  font-style: italic;
  text-align: center;
  line-height: 24px;
  margin: 1.429rem;
}

.line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mask {
  border-radius: 20rem;
  width: 20rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.col {
  justify-content: space-around;
  align-items: center;
}

.ig {
  background: white;
  box-shadow: 0px 2px 0px #DCDCDC;
  border-radius: 0.286rem;
  margin-top: 4.286rem;
}

.inst {
  margin-right: 1.25rem !important;
  font-size: 1.143rem;
  color: rgba(51, 51, 51, 0.501642);
}

.block {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  width: 100vw;
  background-image: linear-gradient(0deg, rgba(197, 49, 99, 0.850345), rgba(197, 49, 99, 0.850345)), url("../pic/BG.png");
  background-size: cover;
}

header img {
  padding-top: 1.429rem;
  padding-bottom: 2rem;
}

header ul {
  padding-inline-start: 0;
}

header ul li {
  display: inline-block;
  margin-left: 2rem;
}

header ul li a {
  text-decoration: none;
  font-family: Sintony;
  font-weight: bold;
  color: white;
}

header ul li:first-child {
  border-bottom: 0.15rem solid white;
  padding-bottom: 0.2rem;
}

.center {
  font-family: Libre Baskerville;
  color: white;
  margin-top: 10.164rem;
}

.center h1 {
  margin-bottom: 1.071rem;
  margin-top: 0;
}

.center .line {
  width: 28.929rem;
  font-style: italic;
  font-size: 1.429rem;
  margin-bottom: 12rem;
}

section {
  font-family: Libre Baskerville;
  align-items: center;
  margin-top: 4.286rem;
  width: 100vw;
}

section .column img {
  margin-top: 1.5rem;
}

section .line {
  justify-content: center;
}

section .line .column {
  margin: 1.5rem;
  width: 20rem;
}

.galery {
  background-color: #F5F5F5;
  width: 100vw;
  padding-bottom: 4.286rem;
  padding-top: 5.071rem;
}

.galery .line {
  justify-content: center;
}

.galery .line a {
  text-decoration: none;
  margin: 0 1rem;
}

.img {
  border-radius: 0.286rem;
  border: solid white;
  width: 14.286rem;
  height: 14.286rem;
  box-shadow: 0 0.143rem 0 #DCDCDC;
}

.bgrimg {
  justify-content: center;
  background-size: cover;
  background: linear-gradient(0deg, rgba(197, 49, 99, 0.850345), rgba(197, 49, 99, 0.850345)), url("../pic/Img2.png");
}

.contacts {
  background-color: #C53163;
  width: 100vw;
}

.contacts .column {
  align-items: center;
  margin-top: 4.286rem;
}

.contacts .line-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contacts .line-center .column, .contacts .line-center .col {
  width: 32.214rem;
  margin: 5.714rem 1.464rem;
}

.contacts .line-center .column iframe, .contacts .line-center .col iframe {
  width: 32.214rem;
  height: 20rem;
  margin-bottom: 2rem;
}

.contacts .line-center .column p, .contacts .line-center .col p {
  color: white;
  margin: 0;
  font-size: 1.286rem;
}

form ::placeholder {
  padding-top: 1.214rem;
}

form input, form textarea {
  padding-left: 2.114rem;
  width: 32.214rem;
  margin-bottom: 1.429rem;
  border-radius: 0.286rem;
  border-style: none;
  font-family: Libre Baskerville;
  font-size: 1.429rem;
}

form input {
  height: 4.286rem;
}

form textarea {
  height: 8.571rem;
  resize: none;
}

form input[type="submit"] {
  background-color: #333333;
  color: white;
}

form input[type="email"] {
  color: #333333;
}

footer {
  background-color: #333333;
  width: 100vw;
}

footer .column {
  align-items: center;
}

footer .column .block ul {
  padding-inline-start: 0;
}

footer .column .block ul li {
  display: inline-block;
  vertical-align: middle;
}

footer .column .block a {
  text-decoration: none;
  font-family: Sintony;
  font-weight: bold;
  color: white;
  margin: 0 1.429rem;
}

footer .column .line:last-child {
  width: 100vw;
  background-color: #2E2E2E;
}

footer .column .line:last-child p {
  color: rgba(255, 255, 255, 0.199474);
  font-family: Sintony;
  font-style: normal;
}

#j {
  box-sizing: initial;
  height: 1.429rem;
  padding: 0.714rem 1rem;
  border-radius: 50%;
  background-color: #C53163;
}

#brand {
  box-sizing: initial;
  width: 1rem;
  height: 1rem;
  padding: 0.643rem;
  border-radius: 50%;
  color: #333333;
  background-color: white;
}

.mod {
  padding: 4.286rem 0;
  align-items: center;
}

@media (max-width: 900px) {
  li {
    display: flex;
    flex-wrap: wrap;
  }
  .line {
    flex-direction: column;
  }
  .line-center {
    flex-direction: column;
  }
  .center .line {
    width: 100vw;
  }
  form input, form textarea {
    padding-left: 0;
    width: 90%;
    padding: 0;
    margin: 1rem;
  }
  .contacts .line-center .column .col {
    width: 100%;
    margin: 0;
  }
}
