section {
  font-family: Libre Baskerville;
  align-items: center;
  margin-top: 4.286rem;
  width: 100vw;
  .column {
      // margin-top: 4.286rem 0;
      img {
          margin-top: 1.5rem;
      }
  }
  .line {
      justify-content: center;
      .column {
          margin: 1.5rem;
          width: 20rem;
      }
  }

}
